@model dynamic
@using EaglesManagement_Web.Controllers
@{
    Layout = "~/Views/Home/index.cshtml";
    int i = 0;
}

@section custom_css{
    <!-- DataTables -->
    <link rel="stylesheet" href="@Url.Content("~/Content/AdminLTE-2.4.5/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css")">
    <!-- SweetAlert2 -->
    <link rel='stylesheet' href="@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/5.3.8/sweetalert2.min.css")">
}

@section custom_js{
    <!-- DataTables -->
    <script src="@Url.Content("~/Content/AdminLTE-2.4.5/bower_components/datatables.net/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Content/AdminLTE-2.4.5/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js")"></script>
    <!-- SweetAlert2 -->
    <script src="@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/5.3.8/sweetalert2.min.js")"></script>
}

@section custom_script{
<script type="text/jscript">
    //get file size
    function GetFileSize(fileid) {
        try {
            var fileSize = 0;
            //for IE
            if ($.browser.msie) {
                //before making an object of ActiveXObject,
                //please make sure ActiveX is enabled in your IE browser
                var objFSO = new ActiveXObject("Scripting.FileSystemObject"); var filePath = $("#" + fileid)[0].value;
                var objFile = objFSO.getFile(filePath);
                var fileSize = objFile.size; //size in kb
                fileSize = fileSize / 1048576; //size in mb
            }
                //for FF, Safari, Opeara and Others
            else {
                fileSize = $("#" + fileid)[0].files[0].size //size in kb
                fileSize = fileSize / 1048576; //size in mb
            }
            return fileSize;
        }
        catch (e) {
            alert("Error is :" + e);
        }
    }

    //get file path from client system
    function getNameFromPath(strFilepath) {
        var objRE = new RegExp(/([^\/\\]+)$/);
        var strName = objRE.exec(strFilepath);

        if (strName == null) {
            return null;
        }
        else {
            return strName[0];
        }
    }

    $("#btnSubmit").live("click", function () {
        if ($('#fileToUpload').val() == "") {
            $("#spanfile").html("Please upload file");
            return false;
        }
        else {
            return checkfile();
        }
    });

    function checkfile() {
        var file = getNameFromPath($("#fileToUpload").val());
        if (file != null) {
            var extension = file.substr((file.lastIndexOf('.') + 1));
            // alert(extension);
            switch (extension) {
                case 'jpg':
                case 'png':
                case 'gif':
                case 'pdf':
                    flag = true;
                    break;
                default:
                    flag = false;
            }
        }
        if (flag == false) {
            $("#spanfile").text("You can upload only jpg,png,gif,pdf extension file");
            return false;
        }
        else {
            var size = GetFileSize('fileToUpload');
            if (size > 3) {
                $("#spanfile").text("You can upload file up to 3 MB");
                return false;
            }
            else {
                $("#spanfile").text("");
            }
        }
    }

    $(function () {
        $("#fileToUpload").change(function () {
            checkfile();
        });
    });
</script>
    <script>
        $(document).ready(function () {
            $('#example1').DataTable();
        });
    </script>

    <script>
        function delData(id, i) {
            swal({
                title: 'Delete data in #' + i + ' ?',
                //text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then(function () {
                var html = "";
                html += '<form id="frm-delete" action="@Url.Action("deleteMile", "Mile")" method="post">';
                html += '<input type="hidden" name="MILE_ID" value="' + id + '">';
                html += '</form>';
                $("#frm-load").html(html);
                $("#frm-delete").submit();
            }, function (dismiss) { });
        }
    </script>

    <script>
        $(document).ready(function () {
            if ('@TempData["alert_msg"]') {
                swal({
                    title: '@TempData["alert_msg"]',
                    type: 'success',
                    timer: 2000,
                    showConfirmButton: false
                }).then(function () {
                    TempData.Remove("alert_msg");
                }, function (dismiss) {
                    TempData.Remove("alert_msg");
                });
            }
        });
    </script>

}

@section header{
    <h1>
        User Profile
        <small>Table</small>
    </h1>
}

@section content{
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="col-md-6" style="padding:initial;">
                        <h3></h3>
                    </div>
                </div>

                <div>
                    @using (Html.BeginForm("FileUpload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary();
                        <ol>
                            <li class="lifile">
                                @using (Html.BeginForm("Action", "Controller", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    @Html.TextBox("file_upload", null, new { @type = "file" })
                                }
                                <span class="field-validation-error" id="spanfile"></span>
                            </li>
                        </ol>
                        <button type="submit" id="btnSubmit">Upload</button>
                    }                
                </div>

            </div>
        </div>
    </div>

    <div id="frm-load"></div>
}