@model dynamic
@using EaglesManagement_Web.Controllers
@{
    Layout = "~/Views/Home/Index.cshtml";
    int i = 0;
    string app_path = HttpContext.Current.Request.Url.AbsoluteUri;
    Uri uriAddress = new Uri(app_path);
    string seg_url = uriAddress.Segments[1];

}

@section custom_css{
    <!-- DataTables -->
    <link rel="stylesheet" href="@Url.Content("~/Content/AdminLTE-2.4.5/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css")">
    <!-- SweetAlert2 -->
    <link rel='stylesheet' href="@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/5.3.8/sweetalert2.min.css")">
}

@section custom_js{
    <!-- DataTables -->
    <script src="@Url.Content("~/Content/AdminLTE-2.4.5/bower_components/datatables.net/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Content/AdminLTE-2.4.5/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js")"></script>
    <!-- SweetAlert2 -->
    <script src="@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/5.3.8/sweetalert2.min.js")"></script>
}

@section custom_script{
    <script>
        $(document).ready(function () {
            $('#example1').DataTable();
        });
    </script>

    <script>
        function delData(id, i) {
            swal({
                title: 'Delete data in #' + i + ' ?',
                //text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then(function () {
                var html = "";
                html += '<form id="frm-delete" action="@Url.Action("deleteMile", "Mile")" method="post">';
                html += '<input type="hidden" name="MILE_ID" value="' + id + '">';
                html += '</form>';
                $("#frm-load").html(html);
                $("#frm-delete").submit();
            }, function (dismiss) { });
        }
    </script>

    <script>
        $(document).ready(function () {
            if ('@TempData["alert_msg"]') {
                swal({
                    title: '@TempData["alert_msg"]',
                    type: 'success',
                    timer: 2000,
                    showConfirmButton: false
                }).then(function () {
                    TempData.Remove("alert_msg");
                }, function (dismiss) {
                    TempData.Remove("alert_msg");
                });
            }
        });
    </script>

}

@section header{
    <h1>
        Master Party
        <small>Table</small>
    </h1>
}

@section content{
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <ul class="nav nav-tabs pull-left">
                        <li @if (@seg_url == "information") { @(new { @class = "active" })     }><a href="@Url.Action("Index", "Infomation")"><i class="fa fa-building-o"></i> <span>Information</span></a></li>
                        <li @if (@seg_url == "address") { @(new { @class = "active" })     }><a href="@Url.Action("Index", "Address")"><i class="fa fa-building-o"></i> <span>Address</span></a></li>
                        <li @if (@seg_url == "#") { @(new { @class = "active" })      }><a href="@Url.Action("Index", "#")"><i class="fa fa-building-o"></i> <span>Relation/ Sales/ Pic</span></a></li>
                        <li @if (@seg_url == "#") { @(new { @class = "active" })     }><a href="@Url.Action("Index", "#")"><i class="fa fa-building-o"></i> <span>Account</span></a></li>
                    </ul>
                    <div class="col-md-6" style="padding:initial;">
                        <h3></h3>
                    </div>
                </div>



               <!-- <div class="box-body table-responsive">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Program</th>
                                <th class="text-center">Description</th>
                                <th class="text-center">UserBy</th>
                                <th class="text-center">Last Update</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td class="text-center">@{ i++; }@i</td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center">
                                    <a href="@Url.Action("mileEditForm", "Mile", new { })" class="btn btn-warning btn-xs"><i class="fa fa-pencil-square-o"></i> Edit</a>
                                    <a href="javascript:void(0);" class="btn btn-danger btn-xs" onclick="delData()"><i class="fa fa-trash"></i> Delete</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>-->
        </div>
    </div>

    <div id="frm-load"></div>
}