@model EaglesManagement_Web.Models.tblUser
    @Model
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login : : Eagles QualitySystem Web | EaglesThai</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="@Url.Content("~/Content/AdminLTE-2.4.5/bower_components/bootstrap/dist/css/bootstrap.min.css")">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/AdminLTE-2.4.5/bower_components/font-awesome/css/font-awesome.min.css")">
    <!-- Ionicons -->
    <link rel="stylesheet" href="@Url.Content("~/Content/AdminLTE-2.4.5/bower_components/Ionicons/css/ionicons.min.css")">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/AdminLTE-2.4.5/dist/css/AdminLTE.min.css")">
    <!-- Google Font -->
    <link rel="stylesheet" href="@Url.Content("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic")">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="/"><b>Eagles</b>Thai</a>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg"><i class="fa fa-archive"></i> Eagles QualitySystem Web</p>
            @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
            {
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @placeholder = "Username", @autocomplete = "off" })
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password", } })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
                    </div>
                </div>
            }
            
        </div>
        </div>
        <!-- jQuery 3 -->
        <script src="@Url.Content("~/Content/AdminLTE-2.4.5/bower_components/jquery/dist/jquery.min.js")"></script>
        <!-- Bootstrap 3.3.7 -->
        <script src="@Url.Content("~/Content/AdminLTE-2.4.5/bower_components/bootstrap/dist/js/bootstrap.min.js")"></script>
</body>
</html>
